.form-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 400px;
    border: 10px solid #ccc;
}

.visible{
    visibility: hidden !important;
    color: red;
}




